<html>
    <head>
        <title>TOKO BUAH</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <!-- NAVIGATION BAR -->
        <div>
            <ul>
                <li>index</li>
                <li>home</li>
                <li>about</li>
                <li>harga</li>
            </ul>
        </div>
        <!-- NAVIGATION BAR SELESAI -->

        <!-- CONTENT 1 -->
        <div>
            <img src="apel.jpg" width="50%" height="50%"/>
        </div>
        <!-- CONTENT 1 END -->

        <!-- FOOTER-->
        <div>
            <h1>HELLO</h1>
            <h2>HELLO</h2>
            <h3>HELLO</h3>
        </div>
        <!-- FOOTER END -->

    </body>
</html>