{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Phone</title>
</head>
<body>
    <header>
        <h1>Contact</h1>
    </header>

    <main>
        <section class="phone-details">
            <h2>NO. TELFON</h2>
            <p>SILAHKAN HUBUNGI NOMER DI BAWAH INI UNTUK PEMESANAN</p>
            <p class="phone-number">+62 819-4658-5921</p>
        </section>
    </main>

    <footer>
        <p>TERIMAKASIH</p>
    </footer>
</body>
</html>
