{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Product Page</title>
</head>
<body>
    <div class="product" id="product1">
        <img src="{% static 'image/hijab13.jpg' %}" width="20%"/>
        <h2>kerudung pasmina</h2>
        <p class="description">menggunakan bahan crincle</p>
        <p class="price">Rp 25.000</p>
    </div>

    <div class="product" id="product 2">
        <img src="{% static 'image/hijab12.jpg' %}" width="20%"/>
        <h2>kerudung rabbani</h2>
        <p class="description">menggunakan bahan sutra halus</p>
        <p class="price">Rp 85.000</p>
    </div>

    <div class="product" id="product3">
        <img src="{% static 'image/hijab14.jpg' %}" width="20%"/>
        <h2>kerudung sport</h2>
        <p class="description">menggunakan bahan jersey</p>
        <p class="price">Rp 27.000</p>
    </div>

    <div class="product" id="product3">
        <img src="{% static 'image/hijab40.jpg' %}" width="20%"/>
        <h2>kerudung segi empat</h2>
        <p class="description">menggunakan bahan linen</p>
        <p class="price">Rp 10.000</p>
    </div>

    <div class="product" id="product3">
        <img src="{% static 'image/hijab50.jpg' %}" width="20%"/>
        <h2>kerudung segi syar'i</h2>
        <p class="description">menggunakan bahan shiffon</p>
        <p class="price">Rp 70.000</p>
    </div>
</body>
</html>
