{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Profile Hijab</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Profile Hijab</h1>
        </div>
    </header>

    <main>
        <div class="container">
            <section class="profile">
                <img src="hijab-avatar.jpg" alt="Hijab Avatar">
                <h2>HIJAB</h2>
                <p>Professional Hijab Stylist</p>
                <p>"Hijab adalah suatu penutup kepala yang digunakan oleh perempuan Muslim sebagai bagian dari pakaian syar'i. Hijab bertujuan untuk menutupi aurat dan menjaga kehormatan wanita. Ada berbagai jenis hijab, termasuk hijab segi empat, pashmina, khimar, dan bergo, yang memungkinkan variasi gaya dan penampilan. Bahan hijab bervariasi, mulai dari katun, chiffon, hingga sutera, memberikan pilihan yang nyaman sesuai dengan cuaca dan kebutuhan sehari-hari. Selain aspek fungsional, hijab juga menjadi ekspresi kreatif dalam dunia fashion, dengan beragam warna, motif, dan desain yang memenuhi selera personal setiap wanita. Mengenakan hijab tidak hanya merupakan kewajiban agama, tetapi juga suatu bentuk identitas dan keanggunan dalam berbusana bagi banyak perempuan Muslim di seluruh dunia."</p>
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <p> Profile Hijab</p>
        </div>
    </footer>
</body>
</html>
