{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Profile</title>
</head>
<body>
    <header>
        <h1>profile hijab</h1>
    </header>

    <main>
        <section class="profile">
            <img src="{% static 'image/hijab30.png' %}" width="20%"/>
            <h2>HIJAB</h2>
            <p>Elegan dan Syar'i:
                "Temukan koleksi hijab kami yang elegan dan memenuhi aturan syar'i, menciptakan penampilan yang anggun dan sesuai dengan nilai-nilai agama."</p>
                
               <P> Fashion Islami:
                "Tingkatkan gaya Anda dengan fashion islami terbaru. Hijab kami tidak hanya menutupi, tetapi juga memancarkan keindahan dan keanggunan."</p>
                
                <P>Kenyamanan Sehari-hari:
                "Kenakan hijab kami untuk kenyamanan sehari-hari. Bahan berkualitas tinggi dan desain yang stylish membuat Anda tetap nyaman dan percaya diri setiap saat."</p>
                
                <P>Pilihan Warna dan Motif:
                "Dari warna-warna lembut hingga motif yang menarik, temukan pilihan warna dan motif hijab yang sesuai dengan gaya pribadi Anda."</p>
                
                <P>Trendsetter Syar'i:
                "Jadilah trendsetter dengan gaya hijab yang syar'i. Bergaya sesuai dengan ajaran agama tanpa kehilangan sentuhan fashion terkini."</p>
                
                <P>Hijab Aktif:
                "Kami menghadirkan hijab yang cocok untuk kegiatan sehari-hari. Fleksibel, ringan, dan tetap modis, membuat setiap momen lebih berarti."</p>
                
                <P>Kemudahan Mix and Match:
                "Berkreasi dengan gaya Anda! Hijab kami memberikan kemudahan mix and match untuk menciptakan tampilan yang unik dan memukau."</P>
                
                <P>Keindahan dalam Kesederhanaan:
                "Hijab memberikan keindahan dalam kesederhanaan. Temukan kecantikan yang sejati dalam menutup aurat dengan penuh kebanggaan."</P>
                
                <P>Hijab Berkualitas Tinggi:
                "Kualitas adalah prioritas kami. Dengan menggunakan bahan berkualitas tinggi, hijab kami memberikan pengalaman mengenakan yang nyaman dan tahan lama."
                
                <P>Inspirasi Hijabista:
                "Ikuti tren hijab terbaru dan jadilah inspirasi bagi hijabista lainnya. Temukan gaya yang sesuai dengan kepribadian Anda dan rayakan keunikan diri.".</p>
                <p>BILA INGIN MEMBELI PRODUCT KAMI CARI DI HALAMAN CONTACT</p>
            </section>
    </main>
</body>
</html>
